.page__content {
  background-color: #000;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (min-width: 321px) and (max-width: 1024px) {
  .page__content {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    max-width: 320px;
    padding: 0;
  }
}
